.mainContainer {
  // min-height: 55vh;
  padding-top: 1em;
  margin: auto;
  width: 100%;
  //   width: var(--center-width-long);

  .thought {
    width: 80%;
    margin: auto;
    font-family: var(--ff-heading);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1em;
  }

  .details {
    width: 85%;
    margin: auto;
    font-family: var(--ff-content);
    font-size: 1.2rem;
    padding-left: 1em;
  }
}
