.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.678);
  z-index: 10;
  cursor: pointer;

  .modalContainer {
    cursor: default;
    position: fixed;
    border-radius: 0.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    // overflow: hidden;
    background: var(--clr-dark-10);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .closeModal {
      position: absolute;
      top: 0.2em;
      right: 0.5em;
      cursor: pointer;
      font-size: 2rem;
      color: var(--clr-dark-50);

      &:hover {
        color: var(--clr-dark-100);
      }
    }

    .textContainer {
      width: 90%;
      // height: 20%;
      margin: 0.5em auto;
      text-align: center;
      padding-top: 0.5em;
      font-family: var(--ff-content);

      .title {
        font-family: var(--ff-heading);
        font-size: 1.8rem;
      }

      .thought {
        font-size: 1.1rem;
        font-weight: 400;
        padding-bottom: 0.5em;
      }
    }

    .list {
      font-family: var(--ff-content);
      // display: block;
      width: 70%;
      padding-bottom: 0.5em;
    }
    .imageContainer {
      margin: 0 0.5em 1em;
      overflow-y: scroll;
    }
  }
}
