.mainContainer {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .container {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    margin: 1em;
    border-radius: 0.5em;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 6px 8px 18px 0px rgba(0, 0, 0, 0.48);

      .title {
        font-size: 2.1rem;
      }
    }

    .imageContainer {
      height: 13em;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        background: linear-gradient(
          rgba(90, 90, 90, 0.384),
          rgba(70, 70, 70, 0.384)
        );
      }

      .image {
        border-radius: 0.5em;
        width: 100%;
        height: 13em;
        object-fit: cover;
      }
    }

    .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // top: 0;
      // left: 0;
      width: 100%;
      text-align: center;
      font-family: var(--ff-heading);
      font-size: 2rem;
      color: var(--clr-white);
      text-shadow: 3px 3px 2px rgb(15, 15, 15);
      // white-space: nowrap;
    }
  }
}
