.loadingContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: block;
  background: linear-gradient(0deg, #d9dcdb, #373737);
  background-size: 400% 400%;
  animation: AnimationName 3s ease infinite;
}

.loadingImageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.laodingImage {
  max-width: 30vw;
  max-height: 30vh;
}

/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */

@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 51% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
