.seperation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.1em;
  border-radius: 2em;
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  background: var(--clr-dark-25);
}

/* Handling length */
.no {
  /* visibility: hidden; */
  display: none;
}

.seperation.short {
  width: 25%;
}

.seperation.medium {
  width: 65%;
}

.seperation.large {
  width: 95%;
}
